/*    Text colors    */
$light-text-color: rgba(255,255,255,0.87);
$text-color: rgba(255,255,255,0.60);
$dark-text-color: rgba(255,255,255,0.38);
$text-hover: rgba(255,255,255,1.0);

/*    Colors    */
$color-light: rgba(255,255,255,0.08);
$color-normal: rgba(255,255,255,0.05);
$color-dark: rgba(255,255,255,0.03);
$background-color: #121212;
$success-color: #6abf69;
$danger-color: #d32f2f;
$primary-color: #0288d1;
$nav-tab-color: #388e3c;

/*    Index Page      */
$max-width: 860px;

/*    Status Container   */
$service-border: 1px solid rgba(255,255,255,0.125);
$service-stats-size: 2.3rem;

/*   Footer Settings   */
$footer-display: block;

/*   Global Settings */
$global-border-radius: 0.2rem;

/*   Mobile Settings   */
$sm-border-radius: 0rem;

/*   Mobile Service Container   */
$sm-padding: 0;
$sm-service-stats-size: 1.5rem;